.catalog__list__right  
  .baner
    padding: 49px 52px 58px
    height: 454px
    background: linear-gradient(90deg, #ADD2FC 56.27%, rgba(203, 224, 247, 0.00) 97.92%), url('../img/offers/menu_offer_1.jpg')
    margin-bottom: 15px
    background-repeat: no-repeat
    background-size: 425px 100% ,  auto
  .baner__title
    font-size: 25px
    line-height: 30px
    margin-bottom: 20px
    width: 300px
  span
    font-size: 20px
    line-height: 24px  
    width: 215px
    display: block

@media screen and (max-width: 1720px)    
  .catalog__list__right  
    .baner
      padding: 38px 40px 45px
      height: 351px
@media screen and (max-width: 1199px)
  .catalog__list__right
    .baner
      height: 391px
      background-position: left center, right -143px center

@media screen and (max-width: 767px)
  .catalog__list__right
    .baner
      background-position: left center
@media screen and (max-width: 575px)
  .catalog__list__right
    .baner
      background-position:  left center, right -143px  center
    .baner__title
      font-size: 25px
      line-height: 100%
      margin-bottom: 10px
  



