.woocommerce-tabs
  border-right: 1px solid #F0F0F1     
  .description__cont
    height: 669px
    padding-right: 20px
    @include scrollbars(10px, #B1CD00, #fff, 10px) 
    overflow-y: auto
    padding-bottom: 80px
    font-size: 16px
    line-height: 20px
    color: #676A75
    ul
      padding-bottom: 20px
      padding-left: 25px
      list-style-type: circle
      li
        line-height: 140%
        margin-bottom: 15px
    p
      margin-bottom: 15px
    table 
      width: 100% !important
      td 
        padding: 10px
        border: 1px solid #676a75	

@media screen and (max-width: 1199px)	
  .woocommerce-tabs
    padding-right: 0
    border-right: none
    .description__cont 
      height: auto
      padding-right: 0
      border-right: none
      padding-bottom: 0